@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #272727; 
  font-family: "Montserrat", sans-serif;
}
.containerLogo{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  

}
.container{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  margin-left: 5%;

}
.container div{
  margin-left: 25%;
  margin-right: 25%;
}

#book:hover{
  content: url('../pictures/calendarYellowLogo.png');
}
#shop:hover{
  content: url('../pictures/shopYellowLogo.png');
}
#academy:hover{
  content: url('../pictures/academyYellowLogo.png');
}
#logoImg:hover{
  content:url('../pictures/logoYellow.png');
}

.logoPosition{
    position: relative;
    margin: 0% 35% auto 33%;

}
.logoImg{
  width: 90px;
  height: 70px;
}

.logoImg:hover{
  content: url('../pictures/logoYellow.png');
}

.navMenu {
   display: flex;
   flex-direction: row;
   margin: 0% 24% auto 26%;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}


#hamburgerNav{
  display:none;
}

@media screen and (max-width: 768px){
  .navMenu{
    display: none;
  }          
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container div{
    margin-bottom: 30%;
  }

  #hamburgerNav{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 30px;
    width: 40px;
    position: relative;
    margin: 0% auto auto auto;
    color: beige;
  }
  #hamburgerNav a{
    margin-bottom: 10%;
    color:beige;

  }

  #hamburgerNav a:hover,:active{
    
    color:#fddb3a;

  }
 

}